@{
	ViewBag.Title = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section pageTitle{ Trang chủ }
@section JsFooter{
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	<script type="text/javascript">
    $(function () {
        var chart = new CanvasJS.Chart("chartContainer", {
                        title: {
                text: "Thống kế lượt xem sản phẩm"
            },
            animationEnabled: true,
            legend: {
                fontSize: 20,
                fontFamily: "Helvetica"
            },
            theme: "light2",
            data: [
            {
                type: "doughnut",
                indexLabelFontFamily: "Garamond",
                indexLabelFontSize: 20,
                indexLabel: "{label} {y}%",
                startAngle: -20,
                showInLegend: true,
                    toolTipContent: "{legendText} {y}%",

			    dataPoints: [
					    { y: 40, legendText: "Thiết bị điện tử", label: "Thiết bị điện tử" },
					    { y: 15, legendText: "Máy tính", label: "Máy tính" },
					    { y: 10, legendText: "Mẹ và bé", label: "Mẹ và bé" },
					    { y: 7, legendText: "Điện thoại!", label: "Điện thoại" },
					    { y: 13, legendText: "Đồ gia dụng", label: "Đồ gia dụng" },
					{ y: 5, legendText: "Giày dép", label: "Giày dép" },
					{ y: 5, legendText: "Thời trang nam", label: "Thời trang nam" },
					{ y: 5, legendText: "Thời trang nữ", label: "Thời trang nữ" }
                    ],
                @foreach (var item in Model)
				{
				}

                //You can add dynamic data from the controller as shown below. Check the controller and uncomment the line which generates dataPoints.
                //dataPoints: @Html.Raw(ViewBag.DataPoints),
            }
            ]
        });
        chart.render();
    });
	</script>
}

<div id="chartContainer"></div>