@model List<LuxubuShop.Web.Models.WishlistItem>

@if (Model.Count > 0)
{
	foreach (var item in Model)
	{
		<li class="wishlist-item">
			<a href="yeu-thich" class="wishlist-link">
				<img src="@item.Product.Image" alt="" class="wishlist-image" />
				<span class="wishlist-name">
					@item.Product.Name
				</span>
			</a>
		</li>
	}
}
else
{
	<img src="~/Assets/Client/assets/images/common/empty-wishlist.png" alt="No products" style="height: 100px" class="empty-products" />
	<p style="text-align: center; font-size: 13px">Chưa có sản phẩm nào</p>
}
