
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>404 Page Not Found</title>
	<link href="~/Assets/Client/css/app.css" rel="stylesheet" />
	<style>
		body {
			display: flex;
			justify-content: center;
			align-items: center;
			background: #fff;
			flex-direction: column;
		}

		p {
			text-align: center;
		}
	</style>
</head>
<body>
	<div>
		<img src="~/Assets/Client/assets/images/common/404 Error Page not Found with people connecting a plug.gif" />
	<p>
		<a href="/" class="btn btn--primary">Quay lại trang chủ</a>
	</p>
	</div>
</body>
</html>
