<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LuxubuShopDbContext" connectionString="data source=THANHIT\SQLEXPRESS;initial catalog=LuxubuShop;persist security info=True;user id=sa;password=Thanh@*#2612;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>