<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LuxubuShopDbContext" connectionString="data source=LuxubuShop.mssql.somee.com;initial catalog=LuxubuShop;persist security info=True;user id=thanhit261220_SQLLogin_1;password=ni5rs71u9q;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>